#about {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
#about h1 {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #00b0e8;
}
#about ul {
  margin-left: 2rem;
  height: 28px;
}
#about li {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  float: left;
}
#about li:before {
  content: none;
}
#about li:nth-of-type(1) {
  width: 160px;
}
